body
{
 background-image: url(./street_road_city_132972_1280x720.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 transition: 0.5s;
}
h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 150px;
    font-size: 66px;
    font-family: monospace;
    transition: 0.5s;
}
.btn 
{
        border: 1px solid gainsboro;
        width: 240px;
        height: 40px auto;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        margin-top: 10px;
        color: goldenrod;
        background-color: azure;
        border-radius: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        transition: 0.5s;
}